<div class="navbar-area fixed-top">

    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <span class="gold-color">
                Jesus Rojas
            </span>
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <span class="gold-color">
                        Jesus Rojas
                    </span>
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav" style="margin-right: 1rem;">
                        <li class="nav-item">
                            <a 
                                routerLink="/" 
                                class="nav-link" 
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"
                            >
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a 
                                routerLink="/about" 
                                class="nav-link" 
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"
                            >
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a 
                                routerLink="/contact" 
                                class="nav-link" 
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"
                            >
                                Contact
                            </a>
                        </li>
                    </ul>

                    <div class="side-nav">
                        <a routerLink="/appointment" routerLinkActive="active">Administracion</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>